* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #292929;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2% 25%;
  font-size: 200%;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5%;
}

main {
  text-align: center;
}

main > h1,
main > p,
main > button {
  margin: 2.5% 0;
}

#start-btn {
  padding: 10px 20px;
  font-size: 100%;
  border: none;
  border-radius: 15px;
}

.choices {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 2.5%;
}

.choices > button {
  padding: 10px 20px;
  font-size: 100%;
  border: none;
  border-radius: 15px;
  background-color: #6c499b;
  color: white;
  transition: 0.5s;
}

.choices > button:hover {
  background-color: #a671eb;
  transform: scale(1.05);
  transition: 0.5s;
}

